@import url('https://fonts.cdnfonts.com/css/south-park');
                
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
    font-family: 'South Park', sans-serif;
}

